#chart {
    display: none;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
}

body {
    background-color: #0c1b21;
}

img {
    margin-right: 10px;
}

h5, #getStatus {
    margin-left: 40px;
}